* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    margin: 50px;
    background-color: rgb(232, 229, 248);
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
}

h3 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 95vh;
}

.graduation {
    width: 250px;
    height: 250px;
}

.hidden {
    opacity: 0;
    filter: blur(4px);
    transform: translateX(-80%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1s
}

.school {
    width: 300px;
    height: 300px;
}

.logo-school  :nth-child(1) {
    transition-delay: 450ms;
}

.logo-graduation  :nth-child(1) {
    transition-delay: 450ms;
}

.text-box :nth-child(1) {
    transition-delay: 550ms;
}

.p-1 {
    background-color: rgb(101, 165, 221);
    border-radius: 25px;
    padding: 25px;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5) ;
}

.h3-1{
    background-color: rgb(31, 67, 175);
    color: white;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5) ;
}

.h3-box :nth-child(1) {
    transition-delay: 200ms;
}

.h1-1 {
    background-color: rgb(91, 128, 238);
    width: 700px;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5) ;
}

.h1-box :nth-child(1) {
    transition-delay: 0ms;
}




.autoRotate {
    animation: AutoRotateAnimation;
    animation-timeline: view();
    width: 200px;
    height: 200px;
}

@keyframes AutoRotateAnimation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.logos {
    display: flex;
    gap: 20px;
}

.logos :nth-child(1) {
    transition-delay: 250ms;
}

.logos :nth-child(2) {
    transition-delay: 600ms;
}

.avatar {
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 40px;
    margin: 10px;
    padding: 10px;
}